/*GENERAL RULES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER RULES*/

.container-full{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-50{
    background-color: rebeccapurple;
    width: calc(50% - 20px);
    height: 100px;
    margin: 10px;
}

/*JUMBOTRONE RULES*/

.container-1200{
    max-width: 1200px;
    margin: 0 auto;
}

.col-100{
    width: 100%;
    background-color: aqua;
    height: 100px;
}

/*MAIN RULES*/

.container{
    max-width: 900px;
    margin: 0 auto;
}

.col-33{
    width: calc(100% / 3 - 20px);
    margin: 10px;
    height: 100px;
    background-color: green;
}

/*FOOTER RULES*/

/*ID*/