/*GENERAL RULES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER RULES*/

.container-full{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-50{
    width: calc(50% - 20px);
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logosm{
    margin: 10px;
    vertical-align: middle;
}

header a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

/*JUMBOTRONE RULES*/

.jumbotrone{
    background-color: rgba(80, 152, 212, 0.5);
    height: 650px;
    margin-bottom: 200px;
}

.container-1200{
    max-width: 1200px;
    margin: 0 auto;
}

.col-100{
    width: 100%;
}

.col-30{
    padding-top: 30px;
    width: 30%;
}

.col-70{
    padding-top: 30px;
    width: 70%;
}

.jumbo{
    width: 850px;
}

.t-l{
    font-weight: bolder;
    font-size: 85px;
    margin-top: 50px;
    margin-bottom: 20px;
    
}

.t-j{
    padding-bottom: 40px;
}

/*MAIN RULES*/

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.col-33{
    width: calc(100% / 3 - 20px);
    margin: 10px;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.container-100{
    width: 100%;
    height: 100vh;
}

.col-33vw{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.col-50vw{
    width: 50%;
    height: 50%;
    position: relative;
}

.col-50vw img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.desit{
    width: 275px;
}

.col-20{
    width: calc(100% / 5 - 20px);
    margin: 10px;
}

.main-title{
    font-size: 35px;
    font-weight: bolder;
    margin: 60px 10px 40px 10px;
}


button{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50px 50px;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.circle{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50px 50px;
    margin: 5px;
}

hr{
   color: rgb(173, 173, 173);
}

.text-col{
    margin: 40px 0px 20px 20px;
}

h4{
    margin-left: 20px;
    margin-bottom: 20px;
}

h5{
    margin-left: 20px;
    margin-bottom: 10px;
}

ul{
    list-style-type: none;
    margin: 10px;
}

li{
    display: inline;
}

.col-40 h3{
    margin: 50px 50px 20px 50px;
    font-size: x-large;
}

.col-40 p{
    margin: 20px 50px 20px 50px;
}

.boxed-text{
    margin: 20px 200px 20px 50px;
    padding: 10px;
    border: 1px solid gray;
}

.t-shop{
    margin-left: 20px;
}

.hr-small{
    width: 50px;
    margin: 50px 20px;
}

.mar-bot-50{
    margin-bottom: 50px;
}

.mar-bot-25{
    margin-bottom: 25px;
}

.mar-top-50{
    margin-top: 50px;
}

.mar-top-100{
    margin-top: 100px;
}

.borg{
    border: 1px solid rgb(173, 173, 173);
    display: flex;
}


.mar-left-10{
    margin-left: 10px;
}

.partner-img{
    width: 100%;
}

.text-client{
    margin-top: 100px;
    margin-bottom: 25px;
}

.text-pub{
    padding: 75px 150px;
}

.boxed-pub{
    text-align: center;
    background-color: white;
}

.business-img{
    width: 100%;
}

.pad-15{
    padding: 15px;
}

.pad-30{
    padding: 30px;
}

.text-col-img{
    margin-top: 15px;
    margin-bottom: 15px;
}

.border-lightgreen{
    border: 10px solid rgb(209, 233, 205);
}

/*FOOTER RULES*/

footer{
    color: white;
    background-color: black;
}

footer h3{
    margin: 60px 0px 20px 0px;
}

footer p{
    margin: 10px 0px;
    font-size: small;
}

footer hr{
    margin-top: 60px;
    margin-bottom: 20px;
    width: 125px;
}

/*ID*/

#blu-back{
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 5px 15px;
}

#blu-backjumb{
    background-color: rgb(0, 132, 255);
    color: white;
    margin-bottom: 40px;
    margin-right: 150px;
    padding: 10px;
}

#color-bordauxe{
    color: rgb(97, 8, 43);
}

#bg-b{
    background-color: rgb(0, 132, 255);
}

#bg-bordauxe{
    background-color: rgb(97, 8, 43);
}

#bg-green{
    background-color: rgb(162, 211, 155);
}

#bg-azure{
    background-color: rgb(0, 147, 206);
}

#bg-red{
    background-color: rgb(255, 28, 28);
}

#bg-darkred{
    background-color: rgb(213, 0, 31);
}

#bg-lightazure{
    background-color: rgb(180, 208, 231);
}

#bg-darkblue{
    background-color: rgb(13, 36, 129);
}

#bg-yellow{
    background-color: rgb(255, 216, 48);
}

#bg-darkwhite{
    background-color: rgb(245, 245, 245);
}

#bg-lightblue{
    background-color: rgba(80, 152, 212, 0.5);
}

#c-g{
    color: gray;
    margin-bottom: 40px;
}

#blu-backmain{
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 15px 40px;
    margin: 60px 20px 20px 20px;
}

#blu-backoffice{
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 15px 40px;
    margin-left: 600px;
    display: inline-block;
    margin-top: 20px;
}

#disp-in{
    display: inline-block;
}

#mar-left-10{
    margin-left: 10px;
}

#hr-main{
    color: rgb(209, 209, 209);
    width: 100px;
    margin: 50px 0px;
}

/*SIMBOLS*/

.fa-arrow-down{
    font-size: 45px;
}

.fa-user{
    margin: 10px;
}

.fa-building{
    margin: 10px;
}

.fa-users{
    margin: 10px;
}

.fa-folder{
    margin: 10px;
}

.fa-share-nodes{
    margin: 10px;
}

.fa-check{
    margin: 10px;
    color: rgb(0, 132, 255);
}

/*JUSTIFY*/

.just-start{
    justify-content: flex-start;
}

.just-end{
    justify-content: flex-end;
}

.just-cent{
    justify-content: center;
}

.t-cent{
    text-align: center;
}
