/*GENERAL RULES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER RULES*/

.container-full{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-50{
    border: 1px solid black;
    width: calc(50% - 20px);
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logosm{
    margin: 10px;
    vertical-align: middle;
}

header a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

/*JUMBOTRONE RULES*/

.jumbotrone{
    background-color: rgba(80, 152, 212, 0.5);
    height: 650px;
    margin-bottom: 200px;
}

.container-1200{
    max-width: 1200px;
    margin: 0 auto;
}

.col-100{
    width: 100%;
    border: 1px solid black;
}

.col-30{
    padding-top: 30px;
    width: 30%;
    border: 1px solid black;
}

.col-70{
    padding-top: 30px;
    width: 70%;
    border: 1px solid black;
}

.jumbo{
    width: 850px;
}

.t-l{
    font-weight: bolder;
    font-size: 85px;
    margin-top: 50px;
    margin-bottom: 20px;
    
}

.t-j{
    padding-bottom: 40px;
}

/*MAIN RULES*/

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.col-33{
    width: calc(100% / 3 - 20px);
    margin: 10px;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.container-100{
    width: 100vw;
}

.col-20{
    width: calc(100% / 5 - 20px);
    margin: 10px;
    height: 100px;
    background-color: aquamarine;
}

.main-title{
    font-size: 35px;
    font-weight: bolder;
    margin: 60px 10px 40px 10px;
}


button{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50px 50px;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.circle{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50px 50px;
    margin: 5px;
}

hr{
   color: rgb(173, 173, 173);
}

.col-33 h3{
    margin: 40px 0px 20px 20px;
}

h4{
    margin-left: 20px;
    margin-bottom: 20px;
}

h5{
    margin-left: 20px;
    margin-bottom: 10px;
}

ul{
    list-style-type: none;
    margin: 10px;
}

li{
    display: inline;
}

.col-40 h3{
    margin: 50px 50px 20px 50px;
    font-size: x-large;
}

.col-40 p{
    margin: 20px 50px 20px 50px;
}

.boxed-text{
    margin: 20px 200px 20px 50px;
    padding: 10px;
    border: 1px solid gray;
}

.t-shop{
    margin-left: 20px;
}

.hr-small{
    width: 50px;
    margin: 50px 20px;
}

.mar-bot-50{
    margin-bottom: 50px;
}

.mar-bot-25{
    margin-bottom: 25px;
}

.mar-top-50{
    margin-top: 50px;
}

.mar-top-100{
    margin-top: 100px;
}

.borg{
    border: 1px solid rgb(173, 173, 173);
}

.mar-left-10{
    margin-left: 10px;
}

.partner-img{
    width: 575px;
}

h1{
    margin-top: 100px;
    margin-bottom: 25px;
}

/*FOOTER RULES*/

footer{
    color: white;
    background-color: black;
}

/*ID*/

#blu-back{
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 5px 15px;
}

#blu-backjumb{
    background-color: rgb(0, 132, 255);
    color: white;
    margin-bottom: 40px;
    margin-right: 150px;
    padding: 10px;
}

#bg-b{
    background-color: rgb(0, 132, 255);
}

#c-g{
    color: gray;
    margin-bottom: 40px;
}

#blu-backmain{
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 15px 40px;
    margin: 60px 20px 20px 20px;
}

#blu-backoffice{
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 15px 40px;
    margin-left: 600px;
    display: inline-block;
    margin-top: 20px;
}

#disp-in{
    display: inline-block;
}

#mar-left-10{
    margin-left: 10px;
}

/*SIMBOLS*/

.fa-arrow-down{
    font-size: 45px;
}

.fa-user{
    margin: 10px;
}

.fa-building{
    margin: 10px;
}

.fa-users{
    margin: 10px;
}

.fa-folder{
    margin: 10px;
}

.fa-share-nodes{
    margin: 10px;
}

.fa-check{
    margin: 10px;
    color: rgb(0, 132, 255);
}

/*JUSTIFY*/

.just-start{
    justify-content: flex-start;
}

.just-end{
    justify-content: flex-end;
}

.just-cent{
    justify-content: center;
}

.t-cent{
    text-align: center;
}